<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033214008641-qfmml7l871l5r2tmjihf9bum974kpsgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033214008641-qfmml7l871l5r2tmjihf9bum974kpsgr</string>
	<key>API_KEY</key>
	<string>AIzaSyAuy87uqfnrPTzCP9dV6UfX8ZG8PVRZTfo</string>
	<key>GCM_SENDER_ID</key>
	<string>1033214008641</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFoodAdminApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myfoodapp-f5b1f</string>
	<key>STORAGE_BUCKET</key>
	<string>myfoodapp-f5b1f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033214008641:ios:2dc0c3412af3ab5d2355c0</string>
</dict>
</plist>